body {
    overflow-x: hidden;
}

/* force-directed-graph */

.fdg-main {
    width: 100%;
    height: calc(100vh - 16px);
    position: relative;
    background: white;
}
.fdg-hidden {
    display: none !important;
}
.fdg-invisible {
    visibility: hidden !important;
}
.fdg-emphasized {
    /*outline: thick solid rgba(215,25,28,.5);*/
    color: rgba(215, 25, 28, 0.5);
}
.fdg-main > * {
    display: inline-block;
}

/* controls */

.fdg-controls {
    width: 5%;
    position: absolute;
    /*height: 100%;*/
    right: 0;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}
.fdg-controls > * {
    display: inline-block;
}
.fdg-control {
    font-size: 0.75rem;
    text-transform: uppercase;
    width: 100%;
}
.fdg-control:not(:last-child) {
    margin-bottom: 25px;
}
.fdg-button {
    padding: 3px 3px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    width: calc(100% - 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fdg-button:not(:last-child) {
}
.fdg-button.current {
    color: #fff;
    background: #000;
    border: 1px solid #000;
}
.fdg-button.clicked {
    background: #aaa;
}
.fdg-button input {
    text-align: right;
}

/* sidebar */

:root {
    --left-margin: 20%;
}
.fdg-sidebar {
    width: calc(var(--left-margin) - 21px);
    padding: 10px;
    font-size: 1.25rem;
    float: left;
    min-height: calc(100% - 20px);
    float: left;
    clear: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #eee;
}
.fdg-legends,
.fdg-progress,
.fdg-freq-table {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 10px 0px;
}

.fdg-sidebar__label {
    width: 100%;
    margin-bottom: 8px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 8px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

/* legend */

.fdg-legends {
}
.fdg-legend {
}
.fdg-legend > * {
}
.fdg-legend__label {
}

/* progress */

.fdg-progress {
    position: relative;
}
.fdg-progress:hover .progressbar-text {
    font-weight: bold;
}

.fdg-timing {
    width: 100%;
}
.fdg-timer,
.fdg-countdown {
}
.fdg-duration,
.fdg-percent-complete {
    top: 3rem;
    position: absolute;
}
.fdg-duration {
    top: 3.35rem;
}
.fdg-percent-complete {
    margin-left: 4px;
}
.fdg-timer,
.fdg-countdown {
    margin-top: 8px;
    padding-top: 8px;
}
.fdg-countdown {
    border-top: 1px solid #aaa;
    border-bottom: none;
}
.fdg-countdown div {
    border-bottom: none !important;
    display: inline-block;
}

/* freq table */

.fdg-freq-table {
}
.fdg-freq-table table {
    width: 100%;
}
.fdg-freq-table th {
    border-bottom: 1px solid #bbb;
    text-align: center;
}
.fdg-freq-table td {
    width: 50%;
}
.fdg-freq-table td:first-child {
    text-align: right;
    padding-right: 10px;
    width: calc(75% - 10);
}
.fdg-freq-table td:last-child {
    text-align: left;
    width: 25%;
}

.fdg-info {
    font-weight: lighter;
    font-size: 2rem;
    color: black;
    text-shadow: black 0px 0px 10px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* animation */

.fdg-animation {
    width: calc(100% - var(--left-margin) - 1px);
    height: 100%;
    border-left: 1px solid #aaa;
    position: relative;
    float: right;
}

.fdg-svg--background,
.fdg-canvas,
.fdg-svg--foreground {
    position: absolute;
    left: 0;
}

/* focus annotations */

.fdg-focus-annotation {
}
.fdg-focus-annotation {
    font-weight: bold;
    font-size: 1.25rem;
}
.fdg-focus-annotation__background {
    stroke: white;
    stroke-width: 4px;
}
.fdg-focus-annotation__event-count {
    font-weight: bold;
}
.fdg-focus-annotation__foreground {
    fill: black;
}
.fdg-focus-annotation--categorical text {
    font-size: 1rem;
}

/* modal */

.fdg-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    font-size: 2rem;
    /*
    font-weight: lighter;
    color: black;
    */
    text-shadow: black 0px 0px 10px;
}
